body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background: #ff5722;
    color: white;
    padding: 10px;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

.hidden {
    display: none;
}

.restaurant, .menu-item {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
}

.restaurant-image {
    width: 25%;
    height: 175px;
    max-height: 200px; /* Set a maximum height for uniformity */
}

#menu-items, #cart-items {
    list-style-type: none;
    padding: 0;
}

button {
    margin-top: 10px;
}

.menu-item img {
    width: 100px;
    height: auto;
    display: block;
    margin: 10px 0;
}

#payment input {
    margin: 5px 0;
    padding: 10px;
    width: 100%;
    max-width: 300px;
}

footer {
    text-align: center;
    padding: 10px 0;
    background: #f1f1f1;
}

main {
    padding: 20px;
}

.reviews {
    margin-top: 10px;
}

.review-list {
    list-style-type: none;
    padding: 0;
}

.review-input {
    margin: 5px 0;
    padding: 5px;
    width: 100%;
}

.submit-review {
    background-color: #ff5722;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
}

.submit-review:hover {
    background-color: #e64a19;
}

h2 {
    text-align: center;
    text-shadow: 2px 2px 5px red;
}
